{%load staticfiles%}

<html>
	<head>
		<title>Carbono lml</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	</head>

	<body>
		<div class = "header">
		{% if user.is_authenticated %}
			<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
		{% endif %}
		<h1><a href= "{% url 'post_list' %}">Welcome to Carbono's Rock Experience</a></h1>
		
		</div>
		
		<div class = "post">
		
		<div class="content container">
			<div class="row">
				<div class="col-md-8">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
		<h3 class="lista1">What would you like to see now?</h3>
		<ul>
			<li><a href= ""> Who are us?</a></li>
			<li><a href= "">Members</a></li>
			<li><a href= "">Songs</a></li>
			<li><a href= "">Lyrics</a></li>
			<li><a href= "">Photos</a></li>
			<li><a href= "">Videos</a></li>
			<li><a href= "">Our next concerts</a></li>
			<li><a href= "">Contact Us</a></li>
		</ul>
		</div>
	</body>
	
</html>