<html>
	<head>
		<title>Carbono lml</title>
	</head>

	<body>
		<div>
		<h1>Welcome to Carbono's Rock Experience</h1>
		<h2>Here you will find the band's best moments</h2>
		</div>
		<div>
		<h3>What do you wanna see now?</h3>
		{% for post in posts %}
			<div>
				<p>published: {{ post.published_date }}</p>
				<h2><a href="">{{ post.title }}</a></h2>
				<p>{{ post.text|linebreaksbr }}</p>
			</div>
		{% endfor %}
		<ul>
			<li><a href= ""> Who are us?</a></li>
			<li><a href= "">Members</a></li>
			<li><a href= "">Songs</a></li>
			<li><a href= "">Lyrics</a></li>
			<li><a href= "">Photos</a></li>
			<li><a href= "">Videos</a></li>
			<li><a href= "">Our next concerts</a></li>
			<li><a href= "">Contact Us</a></li>
		</ul>
		</div>
	</body>
	
</html>